<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="Pages/addingFlightToTourist.css" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>

<p id="demo3"></p>

<script>
    var obj, dbParam, xmlhttp, myObj, x, txt = "";
    obj = { table: "flights"};
    dbParam = JSON.stringify(obj);
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            myObj = JSON.parse(this.responseText);
            txt += "<table class=table id=table1>"
            txt += "<thead><tr><th title='Field'>id</th>"
            txt += "<th title='Field #2'>departureTime</th>"
            txt += "<th title='Field #3'>arrivalTime</th>"
            txt += "<th title='Field #4'>numberOfPlaces</th>"
            txt += "<th title='Field #5'>ticketCost</th>"
            txt += "</tr></thead>"
            for (x in myObj) {
                txt += "<tr><td>" + myObj[x].id + "</td>"
                txt += "<td>" + myObj[x].departureTime + "</td>"
                txt += "<td>" + myObj[x].arrivalTime + "</td>"
                txt += "<td>" + myObj[x].numberOfPlaces + "</td>"
                txt += "<td>" + myObj[x].ticketCost +"</td></tr>"
            }

            txt += "</table>"
            document.getElementById("demo3").innerHTML = txt;

        }

    };
    xmlhttp.open("GET", "http://localhost:8080/flights", true);
    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xmlhttp.send("x=" + dbParam);

</script>



<script>
    var obj, dbParam, xmlhttp, myObj, x, txt = "";
    obj = { table: "tourist"};
    dbParam = JSON.stringify(obj);
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            myObj = JSON.parse(this.responseText);
            txt += "<table class=table id=table2>"
            txt += "<thead><tr><th title='Field'>id</th>"
            txt += "<th title='Field #2'>name</th>"
            txt += "<th title='Field #3'>surname</th>"
            txt += "<th title='Field #4'>sex</th>"
            txt += "<th title='Field #5'>country</th>"
            txt += "<th title='Field #6'>notes</th>"
            txt += "<th title='Field #7'>dateofBirth</th>"
            txt += "<th title='Field #8'>flyListIds</th>"

            txt += "</tr></thead>"
            for (x in myObj) {
                txt += "<tr><td>" + myObj[x].id + "</td>"
                txt += "<td>" + myObj[x].name + "</td>"
                txt += "<td>" + myObj[x].surname + "</td>"
                txt += "<td>" + myObj[x].sex + "</td>"
                txt += "<td>" + myObj[x].country +"</td>"
                txt += "<td>" + myObj[x].notes +"</td>"
                txt += "<td>" + myObj[x].localDate +"</td>"
                if( myObj[x].listOfFlies==""){
                    txt += "<td>"+" - "+ "</td></tr>"
                    continue;
                }
                var sample = myObj[x].listOfFlies;
                var ids = [];

                for(x in sample){
                    ids.push(sample[x].id);}

                txt += "<td>" + ids +"</td></tr>"
            }

            txt += "</table>"
            document.getElementById("demo3").innerHTML = txt;

        }

    };
    xmlhttp.open("GET", "http://localhost:8080/tourists", true);
    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xmlhttp.send("x=" + dbParam);

</script>

<!--***********************************************************************************-->
<form class="form" id="formSubmit">

    <div class="form-row">
        <label for="inpBody1">touristId:&nbsp;&nbsp;</label>
        <textarea id="inpBody1" ></textarea>
    </div>
    <div class="form-row">
        <label for="inpBody2">flyId:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <textarea id="inpBody2"></textarea>
    </div>




    <!--        <div class="form-row">-->
    <button type="submit" class="btn btn-success" >Add New Flight </button>
    <!--        </div>-->
</form>


<script>

    //pobieramy wszystkie niezbędne elementy
    $form = $('.form');
    $inputBody1 = $('#inpBody1');
    $inputBody2 = $('#inpBody2');
    $submitBtn = $form.find(":submit");

    //podpinamy się pod wysłany formularz
    $form.on("submit", function(e) {
        e.preventDefault();

//wysyłamy dane
        $.ajax({
            url: "http://localhost:8080/addTouristToFly",
            method : "POST",
            data: JSON.stringify({
                "touristId" : $inputBody1.val(),
                "flyId" : $inputBody2.val()}),
            headers:{"Content-Type":"application/json; charset=utf-8"}

        })
    });

</script>

<!--***********************************************************************************-->
<form class="form2" id="formSubmit2">

    <div class="form-row">
        <label for="inpBody10">touristId:&nbsp;&nbsp;</label>
        <textarea id="inpBody10" ></textarea>
    </div>
    <div class="form-row">
        <label for="inpBody20">flyId:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <textarea id="inpBody20"></textarea>
    </div>




    <!--        <div class="form-row">-->
    <button type="submit" class="btn btn-danger" >Remove Existing Flight </button>
    <!--        </div>-->
</form>


<script>

    //pobieramy wszystkie niezbędne elementy
    $form2 = $('.form2');
    $inputBody10 = $('#inpBody10');
    $inputBody20 = $('#inpBody20');
    $submitBtn = $form.find(":submit");

    //podpinamy się pod wysłany formularz
    $form2.on("submit", function(e) {
        e.preventDefault();

//wysyłamy dane
        $.ajax({
            url: "http://localhost:8080/removeTouristToFly",
            method : "POST",
            data: JSON.stringify({
                "touristId" : $inputBody10.val(),
                "flyId" : $inputBody20.val()}),
            headers:{"Content-Type":"application/json; charset=utf-8"}

        })
    });

</script>










</body>
</html>