<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <form class="form" id="formSubmit">

        <div class="form-row">
            <label for="inpBody1">name</label>
            <textarea id="inpBody1" ></textarea>
        </div>
        <div class="form-row">
            <label for="inpBody2">surname</label>
            <textarea id="inpBody2"></textarea>
        </div>

        <div class="form-row">
            <label for="inpBody3">sex</label>
            <textarea id="inpBody3"></textarea>
        </div>

        <div class="form-row">
            <label for="inpBody4">country</label>
            <textarea id="inpBody4"></textarea>
        </div>

        <div class="form-row">
            <label for="inpBody5">notes</label>
            <textarea id="inpBody5"></textarea>
        </div>

        <div class="form-row">
            <label for="inpBody6">localDate</label>
            <textarea id="inpBody6"></textarea>
        </div>



        <div class="form-row">
            <button type="submit" class="button">Dodaj turyste </button>
        </div>
    </form>


    <script>

        //pobieramy wszystkie niezbędne elementy
        $form = $('.form');
        $inputBody1 = $('#inpBody1');
        $inputBody2 = $('#inpBody2');
        $inputBody3 = $('#inpBody3');
        $inputBody4 = $('#inpBody4');
        $inputBody5 = $('#inpBody5');
        $inputBody6 = $('#inpBody6');
        $submitBtn = $form.find(":submit");

        //podpinamy się pod wysłany formularz
        $form.on("submit", function(e) {
            e.preventDefault();

//wysyłamy dane
            $.ajax({
                url: "http://localhost:8080/addTourist",
                method : "POST",
                data: JSON.stringify({
                    name : $inputBody1.val(),
                    surname : $inputBody2.val(),
                    sex : $inputBody3.val(),
                    country : $inputBody4.val(),
                    notes : $inputBody5.val(),
                    localDate : $inputBody6.val()}),
                headers:{"Content-Type":"application/json; charset=utf-8"}

            })
        });
    </script>